.card-title {
  color: #d9534f;
}

.card-title:hover {
  color: #ac2925;
}

.title-link {
  color: #6c757d;
}

.title-link:hover {
  color: #6c757d;
}

.card-text {
  margin-top: 1rem;
}

.card-text p:first-child {
  margin-top: 0;
}

h1 {
  color: #6c757d;
}

.card {
  --bs-card-bg: inherit;
  color: #6c757d;

}
.card-body > a:link { text-decoration: none; }

