.App {
  position: relative;
}

.background-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -2;
}

.dark-overlay,
.light-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.85);
}

.light-overlay {
  background: rgba(255, 255, 255, 0.95);
}

.content-wrapper {
  position: relative;
  z-index: 1;
}

.App.dark-mode .background-image-wrapper {
  background-image: url('../public/bg-dark.png');
}

.App:not(.dark-mode) .background-image-wrapper {
  background-image: url('../public/bg-light.png');
}

.App:not(.dark-mode) .card {
  background-color: rgb(0, 0, 0, 0);
}

.App.dark-mode .navbar-light .navbar-brand {
  color: #fff;
}

.App.dark-mode .card {
  border-color: #2f3336;
  --bs-card-bg: inherit;
  color: #6c757d;
}

.card-body>a:link {
  text-decoration: none;
}

.card {
  min-height: 120px;
}

.App.dark-mode footer {
  color: white !important
}